* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
    background: linear-gradient(90deg, #007bff, #00d4ff);
    padding: 15px 20px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
  }

  .logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  .nav-links {
    list-style: none;
    display: flex;
  }

  .nav-links li {
    margin: 0 15px;
  }

  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .nav-links a:hover {
    color: #f1f1f1;
  }

  .menu-toggle {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background: rgba(0, 123, 255, 0.9);
      width: 200px;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }

    .nav-links li {
      margin: 10px 0;
      text-align: center;
    }

    .menu-toggle {
      display: block;
    }
  }
  footer {
    position:absolute;
    bottom: 0;
    text-align: center;
    background-color: rgb(91, 88, 84);
    padding: 5px;
    width: 100%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.item {
    background-color: rgb(147, 240, 128);
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.blink {
  animation: blinker 1.5s linear infinite;
  color: red;
  font-family: sans-serif;
  
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}