<nav class="navbar">
  <div class="nav-container">
    <a href="index.html" class="logo">Top Jobs</a>
    <ul class="nav-links">
      <li><a href="pages/home.html">Home</a></li>
      <li><a href="pages/job_category.html">Job Category</a></li>
      <li><a href="pages/services.html">Services</a></li>
      <li><a href="pages/job_searching.html">Job Searching</a></li>
      <li><a href="pages/job_details.html">Job details</a></li>
      <li><a href="pages/vacency.html">vacency</a></li>
      <li><a href="pages/advise.html">advice</a></li>
      <li><a href="pages/blog.html">Blogs</a></li>
      <li><a href="pages/about.html">About</a></li>
      <li><a href="pages/contact.html">Contact</a></li>
    </ul>
    <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
  </div>
</nav>
